@page "/"

<h1>C# Best Practices</h1>

A compiled list on the best ways to develop C#.
Use cases: 
<ul>
    <li>Code Reviews.</li>
    <li>Refreshing memory on standards or implementation.</li>
    <li>View basic C# theory with code.</li>
</ul>

<NamingConventions /> 
<LayoutConventions />
<CodingConventions />

@code {}