@page "/Snippets"

<h1>Snippets</h1>
<p>
    This is actual code snippets that should be usable in any modern C# project.<br />
    If these do not work, you should check your NuGet packages, or send me a message/create an Issue and I will let you know what dll's are needed.
</p>

<SwitchSnippets></SwitchSnippets>
<SQLSnippets></SQLSnippets>
<ExtensionSnippets></ExtensionSnippets>
@code {
}
