@inherits LayoutComponentBase
@inject IJSRuntime JS;
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <button class="btn btn-primary" @onclick="Alert"> About </button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code {

    const string message = "";

    private string[] args = { message };

    private async Task Alert()
    {
        await JS.InvokeAsync<string>("showAbout", args);
    }
}